In [272]:
import pandas as pd
import re
import string

In [273]:
def load_data():
    data = pd.read_csv('remove_http -with-label-dataset.csv')
    return data

In [274]:
tweet_df = load_data()
#tweet_df.head(n=50)

In [275]:
tweet_df

                                           remove_http    Label;
0    adek gue positif covid-. gejalanya pilek  batu...   Netral;
1    Adi menambahkan  selain RS Rujukan Covid- dan ...   Netral;
2    Afrika Selatan telah menyetujui vaksin sinovac...   Netral;
3    Akibat paranoid: Ada yg bilang minum  kaleng s...   Netral;
4    Alhamdulilah  orang di Jalan Pt Ibrahim telah ...  Positif;
..                                                 ...       ...
371  Yg cuma bs goreng isiu    Ngamuk karna Pemberl...  Negatif;
372  Sedangkan yg iniðŸ‘‡ habib mustofa al haddar kali...  Negatif;
373     Yg mau razia siapa? Yaqut itu org NU yg ter...  Negatif;
374  Apa yg terjadi saat ini  adalah wujud kegagala...  Negatif;
375  Kepada yth Presiden RI . Tolong stop penerbang...  Negatif;

[376 rows x 2 columns]

In [276]:
df = pd.DataFrame(tweet_df[['Label;', 'remove_http']])

In [277]:
df

       Label;                                        remove_http
0     Netral;  adek gue positif covid-. gejalanya pilek  batu...
1     Netral;  Adi menambahkan  selain RS Rujukan Covid- dan ...
2     Netral;  Afrika Selatan telah menyetujui vaksin sinovac...
3     Netral;  Akibat paranoid: Ada yg bilang minum  kaleng s...
4    Positif;  Alhamdulilah  orang di Jalan Pt Ibrahim telah ...
..        ...                                                ...
371  Negatif;  Yg cuma bs goreng isiu    Ngamuk karna Pemberl...
372  Negatif;  Sedangkan yg iniðŸ‘‡ habib mustofa al haddar kali...
373  Negatif;     Yg mau razia siapa? Yaqut itu org NU yg ter...
374  Negatif;  Apa yg terjadi saat ini  adalah wujud kegagala...
375  Negatif;  Kepada yth Presiden RI . Tolong stop penerbang...

[376 rows x 2 columns]

In [278]:
df.to_csv('Test_Label.csv',encoding='utf8', index=False)